<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Projects</title>
</head>
<body>
<h1>Projects</h1>
<div class="project-card">
    <% projects.forEach(project => { %>
        <hr>
        <div class="project-content">
            <% project.img.forEach(imageUrl => { %>
                <img style="  display: inline;
  max-width:200px;
  max-height: 200px;
  width: auto;
  height: auto;" src="/uploads/<%= imageUrl %>" alt="Project Image">
            <% }) %>
            <p><%= project.id %></p>
            <h2><%= project.title %></h2>
            <p><%= project.description %></p>
            <div class="update-button"><a href="/update/project/<%= project.id %>">update</a></div>
            <form action="/delete/project/<%= project.id %>?_method=delete" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">DELETE</button>
            </form>
        </div>
    <% }) %>

</div>
<div class="exchange-rate-USD"><p>USD: <%= exchangeRate.conversion_rates.KZT %></p></div>
<div class="exchange-rate-USD"><p>Activity: <%= boredApi.activity %></p></div>
</body>
</html>